*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Martel Sans', sans-serif;
}

html {
    font-size: 62.5%
}

body{
    background:#000000;
}

.header-nav{
    background-color: #000000d2;
    width: 100%;
    height: 11rem;
    padding: 0 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    backdrop-filter: blur(8px);
    z-index: 1000;
}

.nav-wrapper {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
}

.website-title {
    font-size: 4.5rem;
}

.title-left,
.title-right{
    font-family: 'Bebas Neue', cursive;
    display: inline-block;

}

.title-left{
    color: #ffff;   
}

.title-right{
    color: #e20101;
    font-weight: lighter;
}

.nav-leftside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    list-style-type: none;
}

.nav-menu li {
    margin-right: 2rem;
    font-family: 'Martel Sans', sans-serif;
}

.nav-menu a {
    color: #c2c2c2d2;
    font-size: 2rem;
    text-decoration: none;
    position: relative;
    padding-bottom: 1px;
}

.nav-menu a::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #f30202;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .nav-menu a:hover::before{
    left: 0;
    right: auto;
    width: 100%;
    }
}

.search-box{
    position: relative;
    width: 3rem;
    height: 3rem;
    background: #303030;
    border-radius: 3rem;
    transition: 0.5s;
    box-shadow: 0 0 0 2.5px rgba(204, 204, 204, 0.281);
    overflow: hidden;
    margin-bottom: .2rem;
}

.search-box.active {
    width: 260px;
}

.magnifying-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    background: rgb(48, 48, 48);
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.magnifying-icon i {
    color: #c2c2c2be;
    font-size: 1.5rem;
    cursor: pointer;
}

.search-input{
    position: absolute;
    width: 220px;
    height: 3rem;
    left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: #303030;
    font-size: 1.6rem;
    color: #c2c2c2be;
}

.mobile-menu{
    margin-left: 1rem;
    display: none;
}

.mobile-menu i{
    color: #c2c2c2be;
    font-size: 2.5rem;
}

@media screen and (max-width: 1090px){

        .header-nav{
            height: 15.5rem;
            padding: 0;
        }
        .nav-wrapper{
            flex-direction: column;
            justify-content: center;

        }

        .nav-leftside{
            width: 100%;
            justify-content: center;
            align-items: center;
        }
}

@media screen and (max-width: 660px){
    .nav-leftside{
        flex-direction: column;
    }

    .nav-menu li {
        font-size: 1.9rem;
        margin-right: 1.8rem;
    }

    .nav-menu li:last-child{
        margin-right: 0;
    }
    

    .search-box{
        width: 260px;
    }

    .website-title{
        line-height: 1;
    }
}

header {
    padding: 0 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.movie-cover{
    position: relative;
    padding: 0 6rem;
    background-image: url("../src/img/moviecover.jpg");
    height: 75rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    max-width: 1600px;
}

.movie-cover-info{
    width: 45rem;
    position: absolute;
    bottom: 10%;
    left: 10rem;
}

.movie-cover-info p{
    color: white;
    font-size: 1.7rem;
    margin-top: 1.3rem;
}

.movie-cover-btn {
    color: white;
    background-color: #e20101;
    width: 15rem;
    height: 4rem;
    border-radius: 4px;
    border: none;
    font-size: 1.6rem;
    outline: none;
    cursor: pointer;
}



@media screen and (max-height: 920px){
    .movie-cover{
        /* height: calc(100vh - 13.5rem) */
        height: 100vh;
    }
}



section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 6rem;
}

.movie-list{
    width: 100%;
    max-width: 1600px;
    background: rgb(0, 0, 0);
    margin-bottom: 8rem;
}

.title-category{
    color: rgb(253, 253, 253);
    font-family: 'Bebas Neue', cursive;
    font-size: 4.3rem;
    position: relative;
    margin-bottom: 3.5rem;
}

.title-category:before{
    content: "";
    height: 3px;
    width: 50px;
    position: absolute;
    bottom: -2px;
    left: 0;
    background: #f30202;
}

.swiper {
    width: 100%;
    height: 40rem;
  }

.swiper-slide {
  position: relative;
  overflow: hidden;
  /* min-width: 130px;
  max-width: 415px;
  max-height: 520px;  */
  width: 100%;
  color: #ffffff;
  text-align: left;
  background-color: #0c0a07;
  font-size: 16px;
}
.swiper-slide * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  backface-visibility: hidden;
}
.swiper-slide figcaption {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: scale(0.5) translate(0%, -50%);
  transform: scale(0.5) translate(0%, -50%);
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  z-index: 1;
  opacity: 0;
  padding: 0 30px;
}
.swiper-slide h3,
.swiper-slide p {
  line-height: 1.5em;
}
.swiper-slide h3 {
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
}
.swiper-slide p {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 15px;
}
.swiper-slide .read-more {
  border: 2px solid #ffffff;
  padding: 0.5em 1em;
  font-size: 0.8em;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}
.swiper-slide .read-more:hover {
  background-color: #ffffff;
  color: #000000;
}
.swiper-slide:hover img,
.swiper-slide.hover img {
  -webkit-animation: swiper-slide 0.45s linear;
  animation: swiper-slide 0.45s linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  cursor: pointer;
}
.swiper-slide:hover figcaption,
.swiper-slide.hover figcaption {
  -webkit-transform: scale(1) translate(0, -50%);
  transform: scale(1) translate(0, -50%);
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
@-webkit-keyframes swiper-slide {
  50% {
    -webkit-transform: scale(0.8) translateY(0%);
    transform: scale(0.8) translateY(0%);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(0.8) translateY(-150%);
    transform: scale(0.8) translateY(-150%);
    opacity: 0.5;
  }
}
@keyframes swiper-slide {
  50% {
    -webkit-transform: scale(0.8) translateY(0%);
    transform: scale(0.8) translateY(0%);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(0.8) translateY(-150%);
    transform: scale(0.8) translateY(-150%);
    opacity: 0.5;
  }
}

/*Media Queries */

@media screen and (max-width: 990px){
    header {
        padding: 0;
    }
    section{
        padding: 2.5rem 2.5rem;
    }
}

@media screen and (max-width: 665px){
    .movie-cover-info{
        width: 100%;
        bottom: 15%;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 0 5rem;
    }
    .movie-cover-img{
        width: 24rem;
    }

    .movie-cover-info p{
        font-size: 1.6rem;
    }
    
    .search-box{
        margin-top: 1.2rem;
    }

    section{
        text-align: center;
        align-items: center;
    }

    .title-category:before{
        content: "";
        height: 3px;
        width: 70px;
        position: absolute;
        bottom: -2px;
        left: 50%;
    }
}

@media screen and (max-width: 415px){
    .movie-cover-info{
        padding: 0 1.5rem;
    }
}

@media screen and (max-width: 490px){
    section{
        padding: 2.5rem 5rem;
    }
}